// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header{
    height: 3rem;
    background-color: rgb(187, 197, 197);
}
.logo{
    font-size: 2rem;
    float: left;
    padding:0.2rem;
    margin-left: 0.3rem;
}
.menu{
    float:right;
    font-size: 1rem;
    padding-top:0.5em;
    margin-right:0.9rem;
    nav{
        float:left;
        padding:0.4rem;
    }
}